---
import { Icon } from 'astro-icon/components';
import { languages } from '~/i18n/ui';
import { getLangFromUrl, getRouteFromUrl, useTranslatedPath } from '~/i18n/utils';

const route = getRouteFromUrl(Astro.url);
const lang = getLangFromUrl(Astro.url);
const translatePath = useTranslatedPath(lang);
const text = languages[lang];
---

<ul
  class="flex flex-col md:flex-row md:self-center w-full md:w-auto text-xl md:text-[0.9375rem] tracking-[0.01rem] font-medium"
>
  <!-- <li class="dropdown flex">
    <button class="hover:text-link dark:hover:text-white px-4 py-3 flex items-center">
      {text}{' '}
      <Icon name="tabler:chevron-down" class="w-3.5 h-3.5 ml-0.5 rtl:ml-0 rtl:mr-0.5 hidden md:inline" />
    </button>
    <ul
      class="hidden dropdown-menu md:backdrop-blur-md dark:md:bg-dark rounded md:absolute pl-4 md:pl-0 md:hidden font-medium md:bg-white/90 md:min-w-[200px] drop-shadow-xl"
    >
      {
        Object.entries(languages).map(([lang, label]) => (
          <li>
            <a
              class:list={[
                'first:rounded-t last:rounded-b md:hover:bg-gray-100 hover:text-link dark:hover:text-white dark:hover:bg-gray-700 py-2 px-5 block whitespace-no-wrap',
              ]}
              href={translatePath(`/${route ? route : ''}`, lang)}
            >
              {label}
            </a>
          </li>
        ))
      }
    </ul>
  </li> -->
  <li class="dropdown flex">
    <button id="dropdownButton" class="hover:text-link dark:hover:text-white px-4 py-3 flex items-center">
      {text}{' '}
      <Icon name="tabler:chevron-down" class="w-3.5 h-3.5 ml-0.5 rtl:ml-0 rtl:mr-0.5 md:inline" />
    </button>
    <ul
      id="dropdownMenu"
      class="hidden dropdown-menu md:backdrop-blur-md dark:md:bg-dark rounded md:absolute pl-4 md:pl-0 font-medium md:bg-white/90 drop-shadow-xl"
    >
      {
        Object.entries(languages).map(([lang, label]) => (
          <li>
            <a
              class:list={[
                'first:rounded-t last:rounded-b md:hover:bg-gray-100 hover:text-link dark:hover:text-white dark:hover:bg-gray-700 py-2 px-5 block whitespace-no-wrap',
              ]}
              href={translatePath(`/${route ? route : ''}`, lang)}
            >
              {label}
            </a>
          </li>
        ))
      }
    </ul>
  </li>
</ul>

<script is:inline>
  document.addEventListener('DOMContentLoaded', function () {
    const dropdownButton = document.getElementById('dropdownButton');
    const dropdownMenu = document.getElementById('dropdownMenu');
    let isOpen = false;

    dropdownButton.addEventListener('click', function () {
      isOpen = !isOpen;
      if (isOpen) {
        dropdownMenu.classList.remove('hidden');
      } else {
        dropdownMenu.classList.add('hidden');
      }
    });
  });
</script>
